doctype html
html(lang="en")
    head
        title=name
        link(href="#{css.dir}#{css.file}" rel="stylesheet")
        include ./favicon.jade
        meta(charset="utf-8")
        meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width, minimal-ui")
        meta(name="mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content=css.vars.theme.primary)
        
    body(ng-app=name)
        ion-nav-bar(class="bar-positive")
            ion-nav-back-button   
        ion-nav-view
        if mobile
            script(src="cordova.js")
        script(src="js/build.js")